[submodule "ethydev-kethy"]
	path = ethydev-kethy
	url = git@github.com:KaitlynEthylia/ethydev-kethy.git
[submodule "ethydev-lynx"]
	path = ethydev-lynx
	url = git@github.com:KaitlynEthylia/ethydev-lynx.git
